<html>
  <!--fuck you get out of here-->
  <!--go hades tigers-->
  <head>
    <title>go away</title>
  </head>

  <body>
    <p>are you tired of being nice?</p>
    <p>don't you just want to go ape shitt</p>
    <p>Updated ${timestamp}</p>
  </body>
</html>
